<div class="flex-container">
    <div class="flex-child">
        <h1 id="weather-description"><%= yesOrNo %> </h1>
        <h3 id="temperature">it's also <%=tempFahr %>°f</h3>
        <h5 id="feels-like">(but it feels like it's <%= feelsLikeFahr %>°f) </h5>
    </div>
</div>
<script>
    const raining = <%= raining %>;
    const body = document.querySelector('body'); 
    const flexContainer = document.querySelector('.flex-container'); 
    if (raining) {
        body.style.backgroundImage = "url('rain.gif')";
        body.style.backgroundSize = 'cover';
    }
</script>