<div class="flex-container">
    <div class="flex-child">
        <h1 id="weather-description"><%= yesOrNo %> </h1>
        <h3 id="temperature">It's <%=tempFahr %>°f</h3>
        <h5 id="feels-like">(Feels Like <%= feelsLikeFahr %>°f) </h5>
    </div>
</div>