@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,300&display=swap');

body {
  background-color: rgb(59, 59, 59);
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: coral;
}

form {
  text-align: center;
}

.flex-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.flex-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#text-input {
  height: 1.5rem;
  font-weight: 300;
  border-radius: 8px;
  text-align: center;
}

#search-submit {
  margin: 1rem;
  border-radius: 5px;
}

#temperature, #feels-like{
  color: white;
}

.flash-message {
  color: coral;
  width: 90vw;
  /* display: inline-block; */
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  text-align: center;
}